{% extends 'base.html' %}
{% block title %}Login {{super()}}{% endblock %}
{% block head %}
  {{super()}}
{% endblock %}
{% block body %}
     {{super()}}
    <div class="my_container">
        <form action="/login" method="POST">
            {{form.csrf_token}}
            
            {{form.email.label}}
            {{form.email, (class='form-control' ,id='email') }}
            
            {{form.passw.label}}
            {{form.passw, (class='form-control') }}
            
             {{form.submit, (class='btn btn-default') }}
         </form>
    </div>

{% endblock %}